* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

}

body {
    min-height: 100vh;
    background-color: #2790b0;
    color: #fff;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 30px 12%;
    transition: all 0.50s ease;
}

.logo {
    display: flex;
    align-items: center;
}



.logo span {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

.navigationBar {
    display: flex;
}

.navigationBar a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all 0.50s ease;
}

.navigationBar a:hover {
    color: #00c176;
}

.navigationBar a.active {
    color: #00c176;
}

.butt1,.butt2{
    height: 40px;
    width: 120px;
    background-color: transparent;
    color: white;
    border: 3px solid;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
}
.butt2{
    background-color:white;
    color:#00986f;
    font-size: 20px;
    font-weight: bold;
}
.butt1:hover{
    background-color:#00986f;
    color:#fff;
    font-size: 20px;
}
.butt2:hover{
    opacity: 0.8;
}

.text-container{
max-width: 600px;
margin-top: 7%;
margin-left: 50%;
}
.text-container h1{
    font-size: 80px;
    font-weight: 400;
}
.text-container a{
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
}

.image-card{
    width: 20%;
    height: 20%;
    display: flex;
    float: right;
    margin: 2% 10px 0px 0px;
}
.image-card img{
    margin-left: 15%;
    border: 2px solid white;

}