* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #274156;
    width: 100%;
    height: 100vh;
    margin: none;
}

body div.bg {
    margin: none;
    padding: none;
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1532330384785-f94c84352e91?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2011&q=80');
    opacity: 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: fixed;
    top: 0px;
    z-index: -9000;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 30px 12%;
    transition: all 0.50s ease;
    backdrop-filter: blur(10px);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand span {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

.nav-link {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 5px 0;
    margin: 0px 10px;
    transition: all 0.50s ease;
}

.nav-link:hover {
    color: #4CB963;
}

.nav-link.active.active.active {
    color: #4CB963;
}

.login, .signup {
    height: 40px;
    width: 150px;
    background-color: transparent;
    color: white;
    border: 3px solid;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;

    margin: 0 10px;
}
.signup {
    background-color:white;
    color:#4CB963;
    font-size: 20px;
    font-weight: bold;
}

.login:hover {
    background-color:#4CB963;
    color:#fff;
    font-size: 20px;
}
.signup:hover
{
    opacity: 0.8;
}

.text-container{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
}
.text-container h1{
    font-size: 80px;
    font-weight: 400;
}
.text-container a{
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
}