{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock head %}

{% block body %}
    <div class="bg">
    </div>

    <div class="wrapper">
        <div class="heading">
            <h2>Sign Up</h2>
        </div>

        <form method="post" action="/register">
            {{ form.hidden_tag() }}
            {% for field in form %}
                {% if field.type == "BooleanField" %}
                    <div class="input-group">
                        {{ field.label }} {{ field(class="input-field bool") }}
                    </div>
                {% elif field.type == "SubmitField"%}
                    <div class="input-group">
                        {{ field(class="submit") }}
                    </div>
                {% else %}
                    <div class="input-group">
                        {{ field(class="input-field") }}
                    </div>
                {% endif %}
            {% endfor %}
        </form>
        
        <div class="login">
            <p>Have an account? <a href="/login">Login</a></p>
        </div>
    </div>
{% endblock body %}